@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@500;700&family=Roboto:wght@400;700&display=swap");
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.1);
  scroll-behavior: smooth;
  font-family: "Bebas Neue", cursive;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* BACK TO THE TOP */
button {
  padding: 20px;
  border-radius: 50%;
  background-color: #f6f5f1;
  border: 1px solid #f3eeeb;
}
button img {
  width: 20px;
}

#back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
#back-to-top:after {
  transition: margin-top 250ms;
}

/* SECTION HEADER*/
header {
  background-color: #161616;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  font-family: "Quicksand", sans-serif;
}

input,
#icon,
.menu__list h4,
.menu__list i {
  display: none;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
nav ul li a {
  color: #fff;
  font-size: 1.1em;
}
nav ul li a:hover {
  color: #0b07f1
;
}

/* SECTION ABOUT*/
.about {
  margin: 0px auto;
  padding: 100px 0;
  background-color: #222;
}

.photo {
  width: 80%;
  border-radius: 28px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  column-gap: 10%;
  color: #fff;
  font-size: 1.4rem;
}
.grid h3 {
  color:#fff;
  font-size: 2em;
  letter-spacing: 0.1em;
  margin-bottom: 50px;
}
.grid p {
  text-align: justify;
  line-height: 1.3em;
  font-family: "Quicksand", sans-serif;
}

#img-screen {
  background-image: url("../cv_Eduardo/img/78754.jpg");
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 -3px 30px 0 #222;
}

.role h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  height: 95vh;
  letter-spacing: 2px;
  padding: 62px 30px 0 30px;
  font-size: 5em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  text-shadow: 1px 2px #fff;
}

.animate {
  color: #0b07f1
;
  font-size: 1em;
}

/* SECTION SKILLS*/
.skills {
  background-color: #fff;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-shadow: inset 0 -3px 30px 0 #222;
}
.skills h3 {
  padding: 30px 0 20px 0;
  color: #0b07f1
;
  padding-top: 64px;
  font-size: 3.5em;
  letter-spacing: 0.2em;
  text-align: center;
  font-weight: 700;
}

.skills-group {
  display: grid;
  grid-template-columns: repeat(5, 18%);
  column-gap: 2.5%;
  row-gap: 100px;
  padding: 80px;
}
.skills-group .hard-skill {
  display: flex;
  text-align: center;
  justify-content: center;
}

.my-skills {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
}
.my-skills img {
  width: 100px;
}

/* CONTACT ME */
.contact-me {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 100px 0 20px 0;
}
.contact-me h3 {
  color: #0b07f1
;
  text-align: center;
  letter-spacing: 0.2em;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
}

.links {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.download {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 80px;
}
.download a {
  color: #222;
  text-decoration: underline;
  font-size: 1.2em;
  background-color: #0b07f1
;
  border-radius: 16px;
  padding: 25px 70px;
  font-family: "Quicksand", sans-serif;
}
.download a:hover {
  color: #fff;
}

.social-links {
  margin: 50px 0;
}
.social-links img {
  width: 30px;
}
.social-links img:hover {
  transition: all ease 0.5s;
  transform: scale(1.15);
}

.links nav ul {
  justify-content: center;
  padding: 20px;
}
.links nav ul li {
  padding: 10px 50px;
}

/* SECTION WORKS*/
.works {
  display: grid;
  place-items: center;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #222;
}
.works h3 {
  color: #0b07f1
;
  padding-top: 64px;
  font-size: 3.5em;
  letter-spacing: 0.2em;
  text-align: center;
  font-weight: 700;
}
.works ul {
  --width: 100vw;
  width: var(--width);
  height: 100vh;
  padding: 0 25px;
  margin: 0;
  list-style-type: none;
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  gap: 1rem;
  overflow: auto;
  z-index: 0;
}
.works ul::-webkit-scrollbar {
  width: 0;
}
.works ul li:hover {
  transition: all ease-in-out 0.5s;
  transform: scale(1.15);
}

.footer{
  background-color: #000;
  font-size: medium;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #f3eeeb;
  text-align: center;
}
@media screen and (min-width: 1024px) and (max-width: 1260px) {
  .role h2 {
    padding-top: 62px;
    font-size: 4.5em;
  }
  .grid h3 {
    margin-bottom: 20px;
  }
  .grid p {
    font-size: 0.9em;
  }
  .photo {
    width: 95%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .role h2 {
    padding-top: 62px;
  }
  #img-screen {
    background-position: top right;
  }
  .grid {
    grid-template-columns: repeat(1, 100%);
    column-gap: 0;
  }
  .grid p {
    text-align: justify;
    line-height: 1.5em;
  }
  .photo {
    margin: 0 auto;
    width: 80%;
  }
  .about-me {
    width: 80%;
    margin: 100px auto;
  }
  .works h3 {
    padding-bottom: 100px;
  }
  .works ul {
    height: 60vh;
    padding: 0 25px;
    margin: 0;
    list-style: none;
    display: grid;
    place-items: baseline;
    grid-auto-flow: column;
    gap: 1rem;
    overflow: auto;
  }
}
@media screen and (min-width: 635px) and (max-width: 767px) {
  nav li a {
    font-size: 1em;
  }
  .role {
    height: 80vh;
  }
  .role h2 {
    font-size: 4em;
    height: 80vh;
    padding-top: 62px;
  }
  #img-screen {
    background-position: top right;
  }
  .my-skills img {
    width: 80px;
  }
  .skills-top,
  .skills-bottom {
    justify-content: space-between;
    padding: 80px 40px;
  }
  .grid {
    grid-template-columns: repeat(1, 100%);
    column-gap: 0;
  }
  .photo {
    margin: 0 auto;
    width: 80%;
  }
  .about-me {
    width: 80%;
    margin: 100px auto;
  }
}
@media screen and (min-width: 480px) and (max-width: 634px) {
  nav li a {
    font-size: 1em;
  }
  nav ul {
    justify-content: space-between;
  }
  #img-screen {
    background-position: top right;
    height: 80vh;
  }
  .role {
    height: 80vh;
  }
  .role h2 {
    font-size: 3em;
    height: 80vh;
    padding-top: 63px;
  }
  .my-skills img {
    width: 65px;
  }
  .skills-top,
  .skills-bottom {
    justify-content: space-between;
    padding: 80px 30px;
  }
  .skills-group {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    column-gap: 2%;
    row-gap: 20px;
  }
  .grid {
    grid-template-columns: repeat(1, 100%);
    column-gap: 0;
  }
  .grid p {
    line-height: 1.1em;
  }
  .grid h3 {
    margin-bottom: 30px;
  }
  .photo {
    margin: 0 auto;
    width: 80%;
  }
  .about-me {
    width: 80%;
    margin: 70px auto;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  header {
    padding: 50px;
  }
  #icon,
  .menu__list h4,
  .menu__list i {
    display: block;
  }
  #icon {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    align-items: center;
  }
  .menu__list {
    position: fixed;
    top: 100px;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.5s ease;
  }
  .menu__list ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .menu__list ul a {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: #fec89a;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid #000;
    transition: 0.4s;
  }
  .menu__list ul li:active a {
    padding-left: 50px;
  }
  .menu__list ul li i {
    margin-right: 16px;
  }
  #icon {
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: #fff;
    padding: 6px 12px;
    transition: all 0.5s;
  }
  #check:checked ~ .menu__list {
    left: 0;
  }
  .role h2 {
    font-size: 2.7em;
    height: 70vh;
    padding-top: 100px;
  }
  #img-screen {
    background-position: top right;
    height: 70vh;
  }
  .role {
    height: 70vh;
  }
  .skills h3,
  .works h3 {
    font-size: 2.5em;
  }
  .grid {
    grid-template-columns: repeat(1, 100%);
    column-gap: 0;
  }
  .grid p {
    line-height: 1em;
    font-size: 0.9em;
  }
  .grid h3 {
    margin-bottom: 30px;
    font-size: 1.5em;
  }
  .skills h3,
  .photo {
    margin: 0 auto;
    width: 90%;
  }
  .about-me {
    width: 90%;
    margin: 70px auto;
  }
  .skills-group {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    column-gap: 0.5%;
    row-gap: 100px;
    padding: 80px;
  }
  .my-skills img {
    width: 65px;
  }
  .links li {
    padding: 10px 15px;
  }
  .download a {
    font-size: 1em;
    border-radius: 10px;
    padding: 15px 55px;
  }
  .contact-me h3 {
    font-size: 2.3em;
  }
}

/*# sourceMappingURL=main.css.map */